#wrapper{
    background white;
    /*background: -webkit-radial-gradient(white, LightCoral, maroon); /* Safari 5.1 to 6.0 */
    /*background: -o-radial-gradient(white, LightCoral,maroon); /* For Opera 11.6 to 12.0 */
    /*background: -moz-radial-gradient(white, LightCoral, maroon); /* For Firefox 3.6 to 15 */
    background: radial-gradient(white, LightCoral, maroon); /* Standard syntax */ 

    width:1000px;
    padding: 20px;
}
.header{
    background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, grey, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, grey, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, grey, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, grey, white); /* Standard syntax */

    width: 1040px;
    height: 50px;
}
.header_name{
    float: left;
    margin-left: 20px;
    display: inline;
    font-size: 40px;
    font-family: Courier New; 
}
.header_desc{
    margin-top:15px;
    float: right;
    display: inline;
    font-size: 20px;
    font-family: Courier New; 
}
.photo_block{
    background-color: silver;
    display: inline-block;
    width: 47%;
    height: 311px;
    padding: 5px;
}
.about_block{
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,white, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, grey); /* Standard syntax */

    background-color: silver;
    display: inline-block;
    width: 47%;
    height: 311px;
    vertical-align: top;
    padding:5px;
    margin-left: 20px;

}
.block_title{
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(grey, silver, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, silver, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, silver, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, silver, grey); /* Standard syntax */

    height:30px;
    font-size: 20px;
    line-height: 30px;
    text-indent: 15px;
    font-family: Courier New;
    vertical-align: top;
    margin: -5px;
    color: white;
    
}

.subtitle{
    margin-top: 0px;
    font-size: 17px;
}
.block_content{
    display: block;
    font-size: 17px;
    font-family: Courier New;
    margin: 10px 5px 5px 5px;
}

.portfolio{
    font-size: 13px;
    height:30%
}
.content_block{
    background: white;
    background: linear-gradient(to right, white, grey); /* Standard syntax */
    height: 600px;
    width: 300px;
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    vertical-align: top;
    
}
.middle{
    margin-left:23px;
    margin-right:23px;

}
.block_img{
    margin-top: 10px;
}

.tech_img{
    display:inline-block;
    margin-top: 20px;
    margin-left: 10px;
}
.portfolio_button{
    display: flex;
    justify-content: center;
}
input {
    margin: 10px auto;

    background-color: DarkGreen;
    color: white;

    border-radius:12px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
